<h1>Listing Restaurants</h1>

<%= link_to 'New Restaurant', new_restaurant_path %>

<div id="restaurants">
  <% @restaurants.each do |restaurant| %>
    <%= link_to restaurant_path(restaurant.id) do %>
      <h2>
        <%= number_to_currency(restaurant.formatted_price) %>
        <%= restaurant.name %>
      </h2>
    <% end %>
    <!-- keeps the description to 100 characters or less -->
    <p><%= truncate(restaurant.category length: 40) %></p>
  <% end %>
</div>