<p>
  <b>Name:</b>
  <%= @restaurant.name %>
</p>

<p>
  <b>Category:</b>
  <%= @restaurant.category %>
</p>

<p>
  <b>Price_range:</b>
  <%= @restaurant.price_range %>
  
</p>

<p>Address:</b>
	<%= @restaurant.address %>
	<p/>

<p>Capacity:</b>
	<%= @restaurant.capacity %>

</p>

<p>Opening_hour:</b>
	<%= @restaurant.opening_hour %>
</p>

<p>Closing_hour:</b>
	<%= @restaurant.closing_hour %>
</p>



